body
{
	font-family: arial;
	font-size: 16px;
	background-color: blue;
}
header {
	/*width: 100%;*/
}
header #logo {
	width: 100%;
	/*height: 200px;*/
	background-color: #9C9C9C;
	float: left;
	/*padding: 2em;*/
	animation-duration: 3s;
  animation-name: slidein;

}
header #logo2 {
	float: right;
	animation-duration: 3s;
  animation-name: slidein;
}

#contenido h1 {
	text-align: center;
	color: #6A1111;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#contenedor {
	margin: 0 auto;
	width: 80%;
	background-color: #000000;
	color: white;
	-webkit-box-shadow: -1px -1px 21px 5px rgba(0,0,0,0.7);
-moz-box-shadow: -1px -1px 21px 5px rgba(0,0,0,0.7);
box-shadow: -1px -1px 21px 5px rgba(0,0,0,0.7);
}
#contenedor #contenido {
	
	padding: 2em;
}
#contenedor #imagen {
	text-align: center;
}